/* navbar */
.navbar13{
    box-shadow: 0 10px 100px rgba(35, 34, 34, 0.3);

}
.blogo{
    display: flex;
    align-items: center;
    gap:10px;
}
.bicon{
    background-color: #EC4D1D;
    padding: 10px 13px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    box-shadow: 5px;
}

.bname{
           font-weight: bold; 
    span{
            color: #E8281A;
    }
}

.bsub{
     color: gray;
     font-size: 10px;
     
}

.flexitem{
    display: flex;
    align-items: center;
}

.btn button{
        background-color: #C71F13;
        border: none;
        color: aliceblue;
        padding: 8px 18px;
        border-radius: 20px;
        font-size: 14px;
}

.btn button:hover{
    background-color: #666060;
} 




/* ==========00            home           0000000================= */





.hcontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 0;
    flex-wrap: wrap;
    gap: 30px;
    /* gap: 20px; */
}

.cardcontainer{
    width: 32rem;
}


.hcontain{
   

    .cardbody{
             /* width: 400px; */
    border: 1px solid rgb(249, 248, 250);
    }
}

.hbadge{
    display: flex;
    align-items: center;
    gap: 12px;

    .hstar{
        padding: 8px 8px;
        background-color: #EC4D1D;
        color: aliceblue;
        border-radius: 50%;
    }
    span{
        font-weight: 600;

    }
}

.htitle{

    h1{
        font-size: 5rem;
        span{
            color: #EC4D1D;
        }
    }
}

.htext{
    font-weight: 400;
    padding: 20px 0;
}

.btnn{
     background-color: #E02619;
        border: none;
        color: aliceblue;
        padding: 20px 30px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 700;

        i{
            padding-right: 20px;
        }

}
.btnwatch{
    text-decoration: none;
    color: black;
    font-weight: 600;

    .play {
        color:#EC4D1D;
      
        padding-right: 18px;
      
    }
}

.himg{
    
    img{
        border-radius: 50%;
    }
}


@media (max-width: 500px) {

    .cardcontainer{
    width: 20rem;
}

    .hcontainer{
    
    /* padding: 20px; */
    gap: 30px;
    /* gap: 20px; */
}

.cardcontainer{
    width: 28rem;
}
    .himg{
        display: flex;
        align-items: center;
        justify-content: center;
    
    img{
        width: 80%
    }
}
  
}




/*  ===================== scoller =========== */
.scroll-container {
  width: 100%;
  overflow: hidden;
  /* white-space: nowrap; */
  background-color: #E02619;
  padding: 12px 0;
  color: aliceblue;

}

.scroll-content {
  display: inline-flex;
  gap: 50px;
  animation: scroll 35s linear infinite;
  
}
.scroll-content span {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}





/*       ============signup and login ========================= */
.frmcontainer{
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color:transparent;
     position: relative;
}
.frmbox{
    min-width: 420px;
    /* height: 450px; */
    color: rgb(233, 235, 236);
    background-color: #666060;
    padding: 40px;
}
.frmbox h1{
    text-align: center;
    font-size: 32px;
}

.frmbox .inputs{
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: #EC4D1D; */
    margin: 30px 0;
}
.inputs input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    border: 1px solid rgba(128, 128, 128, 0.701);
    padding: 10px;
}
.inputs input::placeholder{
    color: whitesmoke;
    text-transform: capitalize;
}

.inputs i{
    position: absolute;
    top: 50%; 
     right: 20px;
     translate: 0 -50%;
}

.forget{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    font-size: 1.1rem;
    text-decoration: none;
  
}
  .forgetlink{
        color: #12043fc9;
        text-decoration: none;
    }
.frmbtn{
    text-align: center;
    cursor: pointer;
    width: 100%;
    input{
    padding: 8px 0px;
    border-radius: 20px;
    font-size: 1.3rem;
    width: 100%;

    text-transform: capitalize;
    background-color: #da8970;
    }
    input:hover{
        color: #C71F13;
        text-shadow: #666060;
        box-shadow: 0 0 12px rgb(110, 130, 150) ;
    }
}

.forsignup,.forlogin{
    padding: 20px 0;
    font-size: 17px;
}




/*  ====================category====================== */


.cgcontainer{
    padding: 90px 90px;
    background-color: #F9F2EA;
    /* box-shadow: inset  0 0 300px 6px red; */
    box-shadow: inset 0 3px 50px rgba(234, 4, 4, 0.3);
    width: 100%;
}

.cgcontain{
    text-align: center;width: 100%;
    .wwf{
        font-size: 2rem;
        font-weight: 200;
        color: #EC4D1D;

    }
    .cgtitle{
        span{
            color: #EC4D1D;
        }
    }
    .cgsub{
        font-size: 1rem;
        font-weight: 400;
    }
}

.cglist{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 60px;
}

.cgcard{
    .card{
        display: flex;
        align-items: center;
        padding: 15px 60px;
        background-color: #ebe5e5;
        border: none;
        transition: all 0.3s ease;

        img{
            border-radius: 50%;
            width: 80px;
        }
        .cgnm{
            font-weight: 700;
            padding: 4px 0;
        }
        .cgitem{
            font-weight: 200;
        }
    }
    .card:hover{
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.15);
        border: 3px solid #EC4D1D ;
        img{
            width: 85px;
            rotate: -15deg;
        }
        .cgnm{
        color: #EC4D1D;

        }
    }
}




@media (max-width: 500px) {

    
    .cglist{
        justify-content: center;
    }
}

@media (max-width: 1070px) {
       
        .cgcontainer{
        padding: 60px 0;
        justify-content: center;
    }

}

  /* ==============abou=t==================================           ============== */

  .abcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 150px;
    gap: 150px;
    width: 100%;
    background-color: #FFFFFF;

  }

  .abimg{
        position: relative;
        width: 95%;
        /* border: 2px solid red; */

  
   
  
  }
  .about1{
        position: static;
        border-radius: 20px;
        width: 100%;
        img{
            position: relative;
            width: 100%;
            object-fit: fill;
        }
        
    }
     .about2{
        position: absolute;
        width: 30%;
        right: -5%;
        bottom: -10%;
        border: 6px solid white;
        border-radius: 30px;
    }
      .imgcon{
        position: absolute;
        top: 10%;
        left: -10%;
        background-color: #C71F13;
        color: white;
        padding: 45px 20px;
        border-radius: 20px;
    }
  .abcontain{
    text-align: left;

  }


  .abinfo{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
  }
  .abii{
    padding: 15px;
    background:#f6dad8;
    border-radius: 10px;
    color: #E8281A;
  }
  .abic{
    h6{
        margin: 0;
        font-weight: 700;

    }
    p{
        font-weight: 300;
    }
  }

  .vfmbtn{
    margin-top: 10px;
    /* background: #000; */
    i{
        padding-left: 10px;
    }
  }
@media (max-width: 1100px) {
        .abcontainer{
            /* display: block; */
            flex-direction: column;
            /* align-items: center; */
            justify-content: center;
            padding: 90px ;

            
        }
        .abimg{
            align-items: center;
        }

        

}
  /*   ==========================0ffer =========================================== */

.ltoff{
    background-color: #F6A623;
    display: inline-block;
    color: #080808;
    border-radius: 5px;
    padding: 5px 27px;
    text-transform: uppercase;
    margin: 0;
    i{
        padding-right: 12px;
    }
}

.offtitle{
    color: white;
    font-size: 70px;
    margin: 20px 0;
}
.offsub{
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
}

.offwatch{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px 0;

    .offt{
        padding: 12px;
        border: 1px solid rgb(248, 244, 244);
        border-radius: 10px;
        background-color: #919090a1;
        color: white;
        text-align: center;
        strong{
            font-size: 20px;
            margin: 0;
            padding: 0;
            line-height: 1px;
        }
        span{
            font-weight: 600;
            color: rgb(211, 210, 210);
            text-transform: uppercase;
            font-size: 15px;
        }
    }
}

.offerimg{

  animation: offerimg 2s  linear 1s infinite alternate ;
  box-shadow:  0 0  50px  #ab7622;
  
}

.discount{
    border-radius: 50%;
    padding: 30px 23px;
}
.discount span{
    font-weight: 300;
    color: #b4acac;
    font-size: 13px;
    text-decoration: line-through;
    padding-left: 10px;
}
.discount p{
    font-weight: 700;
    color: #f8f5f5;
    font-size: 22px;
    margin: 0;
}


@keyframes offerimg {
  from {
    transform: translatey(10%);
  }
  to {
    transform: translatey(-10%);
  }
}









/* ====================999999999999  food showcase  =================*/
.fsccontainer{
    padding: 80px 100px;
    background-color: #b49f7d;
}
.fsccontain{
    padding-bottom: 30px;
}
.fscard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* height: 100vh; */
    grid-auto-rows:250px;
    gap: 20px;

    div{
        border: 2px solid red;
        border-radius: 20px;
    }
    div:hover{
        scale: 1.05;
    }
    .fsc1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    img{
        height: 100%;
        width: 100%;
        /* aspect-ratio: auto;
        object-fit: cover; */
        overflow: hidden;
        border-radius: 20px;
    }
}

@media screen and (max-width:950px) {
    .fscard{
    grid-template-columns: 1fr 1fr;


    .fsc1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
  
}

@media screen and (max-width:650px) {
    .fscard{
    grid-template-columns: 1fr ;


}
.fsccontainer{
    padding: 80px 50px;
    background-color: #b49f7d;
}
  
}


/*     -==========================  menu   ========================================== */
.menucontainer{
    padding: 90px;
}

.menucontain{
    padding: 30px;
}

.menulist{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}
.menucard{
    position: relative;
    width: 400px;
    border: 2px solid red;
    border-radius: 20px;
    img{
        position: relative;
        width: 100%;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;

    }
}
.menuinfo{
    padding: 0 15px;
    padding-top: 10px;

    h6{
        color: #F6A623;
        margin: 0;
        margin-bottom: 5px;
    }
    h5{
        margin: px 0;
    }
    p{
        font-weight: 400;
        line-height: 17px;
    }
}
.top{
  
    position: absolute; 
    top: 11px;
    left: 23px;
    z-index: 999;
    color: #C71F13;
    
}
.topstar{
   
    position: absolute; 
    top: 11px;
    right: 23px;
    z-index: 999;
    color: #C71F13;

}
.ratestar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .rate{
        h2{
            
        }
    }
}