/* navbar */

.blogo{
    display: flex;
    align-items: center;
    gap:10px;
}
.bicon{
    background-color: #EC4D1D;
    padding: 10px 13px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    box-shadow: 5px;
}

.bname{
           font-weight: bold; 
    span{
            color: #E8281A;
    }
}

.bsub{
     color: gray;
     font-size: 10px;
     
}

.flexitem{
    display: flex;
    align-items: center;
}

.btn button{
        background-color: #C71F13;
        border: none;
        color: aliceblue;
        padding: 8px 18px;
        border-radius: 20px;
        font-size: 14px;
}

.btn button:hover{
    background-color: #666060;
} 




/* ==========00            home           0000000================= */





.hcontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 0;
    flex-wrap: wrap;
    gap: 30px;
    /* gap: 20px; */
}

.cardcontainer{
    width: 32rem;
}


.hcontain{
   

    .cardbody{
             /* width: 400px; */
    border: 1px solid rgb(249, 248, 250);
    }
}

.hbadge{
    display: flex;
    align-items: center;
    gap: 12px;

    .hstar{
        padding: 8px 8px;
        background-color: #EC4D1D;
        color: aliceblue;
        border-radius: 50%;
    }
    span{
        font-weight: 600;

    }
}

.htitle{

    h1{
        font-size: 5rem;
        span{
            color: #EC4D1D;
        }
    }
}

.htext{
    font-weight: 400;
    padding: 20px 0;
}

.btnn{
     background-color: #E02619;
        border: none;
        color: aliceblue;
        padding: 20px 30px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 700;

        i{
            padding-right: 20px;
        }

}
.btnwatch{
    text-decoration: none;
    color: black;
    font-weight: 600;

    .play {
        color:#EC4D1D;
      
        padding-right: 18px;
      
    }
}

.himg{
    
    img{
        border-radius: 50%;
    }
}


@media (max-width: 500px) {

    .hcontainer{
    
    padding: 20px;
    gap: 30px;
    /* gap: 20px; */
}

.cardcontainer{
    width: 28rem;
}
    .himg{
        display: flex;
        align-items: center;
        justify-content: center;
    
    img{
        width: 80%
    }
}
  
}




/*  ===================== scoller =========== */
.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #E02619;
  padding: 12px 0;
  color: aliceblue;

}

.scroll-content {
  display: inline-flex;
  gap: 50px;
  animation: scroll 10s linear infinite;
  
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}





/*       ============signup and login ========================= */
.frmcontainer{
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color:transparent;
     position: relative;
}
.frmbox{
    min-width: 420px;
    /* height: 450px; */
    color: rgb(233, 235, 236);
    background-color: #666060;
    padding: 40px;
}
.frmbox h1{
    text-align: center;
    font-size: 32px;
}

.frmbox .inputs{
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: #EC4D1D; */
    margin: 30px 0;
}
.inputs input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    border: 1px solid rgba(128, 128, 128, 0.701);
    padding: 10px;
}
.inputs input::placeholder{
    color: whitesmoke;
    text-transform: capitalize;
}

.inputs i{
    position: absolute;
    top: 50%; 
     right: 20px;
     translate: 0 -50%;
}

.forget{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    font-size: 1.1rem;
    text-decoration: none;
  
}
  .forgetlink{
        color: #12043fc9;
        text-decoration: none;
    }
.frmbtn{
    text-align: center;
    cursor: pointer;
    width: 100%;
    input{
    padding: 8px 0px;
    border-radius: 20px;
    font-size: 1.3rem;
    width: 100%;

    text-transform: capitalize;
    background-color: #da8970;
    }
    input:hover{
        color: #C71F13;
        text-shadow: #666060;
        box-shadow: 0 0 12px rgb(110, 130, 150) ;
    }
}

.forsignup,.forlogin{
    padding: 20px 0;
    font-size: 17px;
}